@font-face {
    font-family: bebas;
    src: url(font/bebasneue_bold.otf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: bebas;
    
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100vh;
    overflow-y: scroll;
    background-color: white;
}

.column img {
  width: 90%;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}

.mix {border: 2px solid black;
  position: fixed;
  background-color: white;
  margin-left:2.5%;
  box-shadow: -5px 5px  #000;
  text-align: center;
  padding-left:10px;
  padding-right:10px;
  padding-top: 1.5px;
  height:20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #fff;
}
