@font-face {
  font-family:'gap';
  src:  url('gapsans-webfont.ttf') format('truetype'),

}
body{
  color:#13B9A3;
  font-family:'gap';
  font-weight: normal;
}
h1{

}
img{
  width:300px;
}
#commande{
display: none;
font-family:monospace;
background-color:#333;
padding: 2%;
width: 60%;
position: absolute;
opacity:1;
border: 4px solid;
}
.buttonGit:hover {
cursor: help;
color:#333;
}
.intro{
position: relative !important;
display: block;
}
ul{
display:flex;
margin: 2%;
}
li{
margin: 2%;

}
.projet{

border:1px solid grey;
text-align: center;
margin: 0;
font-size: 1.2em;
left:0;
padding: 0;
}
.element {
border-top: 2px solid black;
display: block;

}
.element a {
border-bottom: none;
}
.element a p{
display: none;
font-size: 1em !important ;

}
.element a:hover p{
background-color:white;
display: block;

position: absolute;
}
