body{
    background-color: black;
    color: #FFFFFF;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    width:100%;
    padding:0;
    margin:0;
    position: relative;
}
#banniere, .info{
  margin: auto;
  width:100%;
  background-color: white;
  text-align: center;
  font-size: 40px;
  color:black;
  padding-top:5%;
  padding-bottom: 5%;
}
#banniere:hover .info {
  background-color:black;
  display: block;
}
.info {
  position: absolute;
  display: none;
  top: 0;
  color:white;
}
.content{
display: flex;
padding: 2px;
flex-wrap: wrap;

}
#cube, .infocube{
margin: 2px;
background-color: white;
text-align: center;
font-size: 40px;
color: black;
width: 300px;
height: 100px;
padding-top: 50px;
padding-bottom: 0px;
z-index: 0;
position: relative;
border: 1px solid black;
}
p{
}
.infocube {
  left:0;
  position: absolute;
  display: none;
  top: 0;
  color:white;
  background:black !important;
  width: 100%;


}

#cube:hover .infocube{

  display: block;
  border: 1px solid transparent;
  margin: 0;
}
